.trace-item {
    font-size: 1.20rem;
}

.trace-item button {
    width: 32px;
    height: 25px;
}

.trace-item-number {
    width: 134px;
    height: 25px;
}

.parent { white-space: nowrap; }

.inline-right { display: inline-block; float: right; }

.inline-left { display: inline-block; float: left; }


